
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    border-block-start: 5px black double;
    border-block-end: 5px black double;
}

h1, h2 {
    color: rgb(51, 153, 255);
}

h2 + p {
    background-color: cadetblue;
    font-style: italic;
}

h2 + p::first-letter{
    font-size: 30px;
}

a[href^="http://"]{
    color: red;
}

a[href*="google"]{
    text-decoration: none;
    font-weight: bold;
}

a[href*="kuba"]{
    text-decoration: none;
    font-weight: bold;
}

p + p + p {
    background-color: gray;
    font-size: 12px;
    color: white;
}

p + p + p::before {
    content: "HINWEIS: ";
}

ul {
    border-left: 5px solid blue;
}

.wichtig {
    border-right: 5px solid red;
}

table {
    border: 2px solid palevioletred;
}

tr {
    border: 1px solid palevioletred;
}

caption {
    font-size: 25px;
    font-weight: bold;
}

table {
    border-collapse: collapse;
  }

th {
    background-color: blueviolet;
    color: black;
}

table tr:nth-child(even) {
    background-color: aquamarine;
    color: white;
}

table tr:nth-child(odd) {
    color: red;
}

div
 {
    border-top: 1px solid black;
   margin-top: 10px;
}

div
:first-child {
    text-align: right;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 10px;
}

div
:first-child > a {
    background-color: black;
    color: white;
}

